@model int

<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Payment Successfully</h1>
        Order Number is : @Model <br /><br />

        <img src="~/Images/OrderSucessful.png" width="30%" />

    </div>

    <div class="col-12 text-center">
        <br />
       Payment has been applied successfuly
        <br />
    </div>

</div>

